<!------- HEADER ------->
<header class="header-principal container-fluid">
        <nav>
            <div class="row align-items-center">
                <nav class="nav-principal col-10 text-light offset-1 d-flex justify-content-center align-items-center">
                  <p class="curse text-uppercase text-decoration-underline">Curso Front-End Developer en Angular 2022</p>
                </nav>
            </div>
        </nav>
    </header>

<!------- SECTION I ------->
    <section class="fs-section container-fluid">
        <div class="row justify-content-around p-3">
            <div class="elements-dec-1 element col-12 my-2 col-md-5 text-light d-flex justify-content-center align-items-center"></div>
            <div class="elements-dec-1 element col-12 my-2 col-md-5 text-light d-flex justify-content-center align-items-center"></div>
        </div>
    </section>

<!------- SECTION II ------->
    <section class="fs-section-2 container-fluid">
        <div class="row justify-content-around p-3">
            <div class="elements-dec-2 col-md-3 my-2 element"></div>
            <div class="elements-dec-2 col-md-3 my-2 element"></div>
            <div class="elements-dec-2 col-md-3 my-2 element"></div>
        </div>
    </section>

<!------- FOOTER ------->   
    <footer class="footer-prin container-fluid d-flex justify-content-center align-items-center">
      <p class="text-light text-uppercase"> Alumno: <span class="text-decoration-underline">Carlos José Castro Galante - D.N.I.: 44.316.209</span></p>
    </footer>

    <!-- Carlos José Castro Galante - D.N.I.: 44.316.209 ->>>> CURSO FRONT-END 2022: DESAFÍO 2 -->